<%= _.template(require('./../includes/header-main.html'))() %>
    <div id="page-preloader" class="preloader-no">
        <div class="loader"></div>
    </div>
    <header class="header">
        <div class="firstscreen bg01">
            <div class="firstscreen__img">
                <img class="img-fluid" src="img/bg/desktop/bg-index-01.jpg" alt="CugarSprey">
            </div>
            <div class="firstscreen__inf">
                <div class="header__form">
                    <form action="">
                        <div class="logo logo_main">
                            <div class="logo__text1">Cougar</div>
                            <div class="logo__text2">Sprey</div>
                        </div>
                        <h2 class="header-form-title text-uppercase text-center text-lg-left">Signup&nbsp;access<br>your&nbsp;matches</h2>
                        <div class="header__inputs">
                            <div class="form-group form-group_20">
                                <input class="form-control form-control_header" type="text" placeholder="Email">
                            </div>
                            <div class="form-group form-group_20">
                                <input class="form-control form-control_header" type="password" placeholder="Password">
                            </div>
                            <div class="form-group form-group_30">
                                <button class="btn btn_icon btn_header btn_w100">Sign Up<div class="btn__addon icon-chevron-right"></div></button>
                            </div>
                            <div class="form-group form-group_20 text-center text-lg-left">
                                <a class="link1 link1_mb" href="login.html">Or Log In?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="secondscreen">
            <div class="container">
                <h1 class="text-white title-mark">Meet <br>your dream</h1>
            </div>
            <div class="collage d-md-flex justify-content-md-end">
                <img class="collage__img_xs" src="img/index-collage-sm.png" alt="">
                <img class="collage__img_lg" src="img/index-collage-lg.png" alt="">
            </div>
        </div>
        <div class="index-content">
            <div class="container">
                <h1 class="index-content__title title-mark">Release mine <br>combinations</h1>
                <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
                <p>Instead of spending weeks looking for your best combination, we send you a personalized combination every day by email. As these presentations have been carefully selected based on your NF (Life, Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
                <p>We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</p>
                <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>