<%= _.template(require('./../includes/header.html'))() %>
<main class="main">
    <div class="container">
        <div class="content">
            <h2 class="title-mark">Your Subscription</h2>
            <form action="">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck6">
                                <label class="custom-control-label" for="customCheck6">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                <label class="custom-control-label" for="customCheck7">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_40">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck8">
                                <label class="custom-control-label" for="customCheck8">Combinação que consiste em três</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck10">
                                <label class="custom-control-label" for="customCheck10">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck20">
                                <label class="custom-control-label" for="customCheck20">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck30">
                                <label class="custom-control-label" for="customCheck30">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck40">
                                <label class="custom-control-label" for="customCheck40">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck50">
                                <label class="custom-control-label" for="customCheck50">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" id="customCheck60">
                                <label class="custom-control-label" for="customCheck60">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck70">
                                <label class="custom-control-label" for="customCheck70">Combinação que consiste em três</label>
                            </div>
                        </div>
                        <div class="form-group form-group_40">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck80">
                                <label class="custom-control-label" for="customCheck80">Combinação que consiste em três</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 ml-auto">
                        <button class=" btn btn_w100">Save preferences</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>