<%= _.template(require('./../includes/header.html'))() %>
<div id="page-preloader" class="preloader">
    <div class="loader"></div>
</div>
<main class="main">
    <div class="container">
        <div class="user-list">
            <div class="user-list-item">
                <div class="user-list-item__pic">
                    <img class="user-list-item__img img-fluid" src="img/photos/user01.jpg" alt="">
                    <a class="user-list-item__btn btn btn_w100 d-none d-lg-block" href="#">Claim Her</a>
                </div>
                <div class="user-list-item__inf">
                    <a class="user-list-item__btn btn btn_w100 d-lg-none" href="#">Claim Her</a>
                    <div class="user-list-item__title">
                        <div class="d-lg-flex align-items-lg-center">
                            <div class="user-list-item__name">Elena, 35</div>
                            <div class="user-list-item__loc">California</div>
                        </div>
                    </div>
                    <div class="user-list-item__title2">Compatibility score: 15 000</div>
                    <div class="compatibility compatibility_list d-flex justify-content-sm-center justify-content-lg-start">
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                            <div class="compatibility__title">Interests</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                            <div class="compatibility__title">Location</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                            <div class="compatibility__title">Matches</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-list-item">
                <div class="user-list-item__pic">
                    <img class="user-list-item__img img-fluid" src="img/photos/user02.jpg" alt="">
                    <a class="user-list-item__btn btn btn_w100 d-none d-lg-block" href="#">Claim Her</a>
                </div>
                <div class="user-list-item__inf">
                    <a class="user-list-item__btn btn btn_w100 d-lg-none" href="#">Claim Her</a>
                    <div class="user-list-item__title">
                        <div class="d-lg-flex align-items-lg-center">
                            <div class="user-list-item__name">Jennifer, 24</div>
                            <div class="user-list-item__loc">New York (1000 km)</div>
                        </div>
                    </div>
                    <div class="user-list-item__title2">Compatibility score: 15 000</div>
                    <div class="compatibility compatibility_list d-flex justify-content-sm-center justify-content-lg-start">
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                            <div class="compatibility__title">Interests</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                            <div class="compatibility__title">Location</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                            <div class="compatibility__title">Matches</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-list-item">
                <div class="user-list-item__pic">
                    <img class="user-list-item__img img-fluid" src="img/photos/user03.jpg" alt="">
                    <a class="user-list-item__btn btn btn_w100 d-none d-lg-block" href="#">Claim Her</a>
                </div>
                <div class="user-list-item__inf">
                    <a class="user-list-item__btn btn btn_w100 d-lg-none" href="#">Claim Her</a>
                    <div class="user-list-item__title">
                        <div class="d-lg-flex align-items-lg-center">
                            <div class="user-list-item__name">Jennifer, 35</div>
                            <div class="user-list-item__loc">California</div>
                        </div>
                    </div>
                    <div class="user-list-item__title2">Compatibility score: 15 000</div>
                    <div class="compatibility compatibility_list d-flex justify-content-sm-center justify-content-lg-start">
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                            <div class="compatibility__title">Interests</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                            <div class="compatibility__title">Location</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                            <div class="compatibility__title">Matches</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-list-item">
                <div class="user-list-item__pic">
                    <img class="user-list-item__img img-fluid" src="img/photos/user04.jpg" alt="">
                    <a class="user-list-item__btn btn btn_w100 d-none d-lg-block" href="#">Claim Her</a>
                </div>
                <div class="user-list-item__inf">
                    <a class="user-list-item__btn btn btn_w100 d-lg-none" href="#">Claim Her</a>
                    <div class="user-list-item__title">
                        <div class="d-lg-flex align-items-lg-center">
                            <div class="user-list-item__name">Elena, 35</div>
                            <div class="user-list-item__loc">New York (1000 km)</div>
                        </div>
                    </div>
                    <div class="user-list-item__title2">Compatibility score: 15 000</div>
                    <div class="compatibility compatibility_list d-flex justify-content-sm-center justify-content-lg-start">
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility1.svg" alt="">
                            <div class="compatibility__title">Interests</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility2.svg" alt="">
                            <div class="compatibility__title">Location</div>
                        </div>
                        <div class="compatibility__chart">
                            <img class="compatibility__img" src="img/icons/compatibility3.svg" alt="">
                            <div class="compatibility__title">Matches</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-list-extra-wrap">
        <div class="container">
            <div class="user-list-title text-center title-mark">Claim 2 of these sexy matches by<br>Signing Up and I`ll reward you with $20<br>gift card!</div>
            <div class="user-list-extra">
                <div class="user-list-extra-item">
                    <div class="user-list-extra-item__pic">
                        <img class="user-list-extra-item__img img-fluid" src="img/photos/user-extra01.jpg" alt="">
                        <div class="user-list-extra-item__txt">Confidential</div>
                    </div>
                    <div class="user-list-extra-item__inf">
                        <a href="#" class="btn user-list-extra-item__btn">Claim Her</a>
                        <div class="user-list-extra-item__name">Jennifer, 24</div>
                        <div class="user-list-extra-item__loc">New York (1000 km)</div>
                    </div>
                </div>
                <div class="user-list-extra-item">
                    <div class="user-list-extra-item__pic">
                        <img class="user-list-extra-item__img img-fluid" src="img/photos/user-extra01.jpg" alt="">
                        <div class="user-list-extra-item__txt">Confidential</div>
                    </div>
                    <div class="user-list-extra-item__inf">
                        <a href="#" class="btn user-list-extra-item__btn">Claim Her</a>
                        <div class="user-list-extra-item__name">Jennifer, 24</div>
                        <div class="user-list-extra-item__loc">New York&nbsp;(1000 km)</div>
                    </div>
                </div>
                <div class="user-list-extra-item">
                    <div class="user-list-extra-item__pic">
                        <img class="user-list-extra-item__img img-fluid" src="img/photos/user-extra01.jpg" alt="">
                        <div class="user-list-extra-item__txt">Confidential</div>
                    </div>
                    <div class="user-list-extra-item__inf">
                        <a href="#" class="btn user-list-extra-item__btn">Claim Her</a>
                        <div class="user-list-extra-item__name">Jennifer, 24</div>
                        <div class="user-list-extra-item__loc">New York (1000 km)</div>
                    </div>
                </div>
                <div class="user-list-extra-item">
                    <div class="user-list-extra-item__pic">
                        <img class="user-list-extra-item__img img-fluid" src="img/photos/user-extra01.jpg" alt="">
                        <div class="user-list-extra-item__txt">Confidential</div>
                    </div>
                    <div class="user-list-extra-item__inf">
                        <a href="#" class="btn user-list-extra-item__btn">Claim Her</a>
                        <div class="user-list-extra-item__name">Jennifer, 24</div>
                        <div class="user-list-extra-item__loc">New York&nbsp;(1000 km)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>