.footer {
  background-color: $body_bg_color;
  padding: 70px 0 66px;
  border-top: 1px solid $bg_dark_1;
  @media (min-width: 768px) {
    padding: 80px 0 113px;
  }
  a.footer__link {
    font-family: $font_family;
    font-weight: 200;
    color: $footer_text_color;
    font-size: 15px;
  }
  a.footer__link + a.footer__link {
    margin-top: 24px;
  }
  a.footer__link:hover {
    color: $footer_text_color_hover;
    text-decoration: underline;
  }
  @media (min-width: 768px) {
    a.footer__link {
      font-size: 16px;
    }
    a.footer__link + a.footer__link {
      margin-top: 0;
      margin-left: 49px;
    }
  }
}

