.header {}
.header_page {
  margin-bottom: 27px;
  @media (min-width: 768px) {
    & {
      margin-bottom: 87px;
    }
  }
}

.header__row {
  padding: 28px 15px 0;
  @media (min-width: 768px) {
    & {
      padding: 51px 51px 0 51px;
    }
  }
}

.firstscreen {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 145px;
  @media (min-width: 992px) {
    padding-bottom: 0;
  }
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 720px;
    height: 270px;
    background-color: #fff;
    bottom: -280px;
    @media (min-width: 510px) {
      bottom: -225px;
    }
    @media (min-width: 698px) {
      bottom: -180px;
    }
    @media (min-width: 768px) {
      bottom: -188px;
    }
    @media (min-width: 820px) {
      bottom: -140px;
    }
    @media (min-width: 950px) {
      bottom: -140px;
    }
    @media (min-width: 966px) {
      height: 300px;
    }
    @media (min-width: 992px) {
      content: none;
      display: none;
    }
  }
  &::before {
    left: -125px;
    transform: rotate(30deg);
  }
  &::after {
    right: -125px;
    transform: rotate(-30deg);
  }
  .firstscreen__img {
    display: none;
    width: 40%;
    overflow: hidden;
    position: relative;
    @media (min-width: 992px) {
      display: block;
    }
  }
  &.bg01 {
    background-image: url('../img/bg/mobile/bg-index-01.jpg');
  }
  &.bg02 {
    background-image: url('../img/bg/mobile/bg-index-02.jpg');
    background-position-y: 50%;
  }
  &.bg03 {
    background-image: url('../img/bg/mobile/bg-index-03.jpg');
    background-position-y: 50%;
  }
  &.bg04 {
    background-image: url('../img/bg/mobile/bg-index-04.jpg');
    background-position-y: 50%;
  }
  &.bg05 {
    background-image: url('../img/bg/mobile/bg-index-05.jpg');
  }
  &.bg01, &.bg02, &.bg03, &.bg04, &.bg05 {
    @media (min-width: 992px) {
      background-image: none;
    }
  }
  .firstscreen__inf {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 67px 15px 0;
    @media (min-width: 992px) {
      padding: 0;
      width: 60%;
      background-color: #000;
      background-image: url('../img/icons/chili.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 60%;
    }
  }
}

.infobox {
  @media (min-width: 1200px) {
    margin-left: -50px;
  }
  @media (min-width: 1500px) {
    margin-left: -250px;
  }
}
.infobox_main {
  width: 100%;
  @media (min-width: 992px) {
    width: auto;
  }
}

.infobox-area {
  @media (min-width: 768px) {
    width: 369px;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    margin: 0;
  }
  &.main {
    max-width: 327px;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 327px;
      margin: 0 auto;
    }
    @media (min-width: 992px) {
      margin: 0;
      max-width: 340px;
      width: 340px;
    }
  }
}

.header__title {
  margin: 0 auto 40px;
  text-align: center;
  font-family: $font_family2;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 90px;
    margin: 0 auto 46px;
  }
  @media (min-width: 992px) {

  }
}

.header__subtitle {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 48px;
  }
  @media (min-width: 992px) {
    text-align: left;
  }
  .br1 {
    @media (min-width: 992px) {
      display: none;
    }
  }
  .br2 {
    @media (min-width: 992px) {
      display: none;
    }
  }
}