.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: $font_family2;
  font-weight: 800;
  font-size: 13px;
  text-align: center;
  letter-spacing: 2px;
  &.logo_main {
    flex-direction: column;
    justify-content: center;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}
.logo__text1 {
  background-color: $logo_main_color;
  border-radius: 500px;
  padding: 7px 15px;
  margin-right: 12px;
  color: #fff;
}
.logo__text2 {
  color: #000;
}

.logo_main {
  margin: 180px 20px 40px;
  @media (min-width: 768px) {
    & {
      margin: 40px 20px 40px 40px;
    }
  }
  @media (min-width: 992px) {
    & {
      margin: 90px 20px 90px 90px;
    }
  }
  @media (min-width: 1200px) {
    & {
      margin: 90px 20px 90px 90px;
    }
  }
  .logo__img {
    background-image: url('../img/icons/logo-white.svg');
    margin-bottom: 20px;
    @media (min-width: 768px) {
      & {
        background-image: url('../img/icons/logo-red.svg');
        margin-bottom: 0;
      }
    }
  }
  .logo__text {
    color: #fff;
    font-size: 15px;
    @media (min-width: 768px) {
      & {
        color: $logo_main_color;
        font-size: 18px;
      }
    }
    @media (min-width: 992px) {
      & {
        color: $logo_main_color;
        font-size: 21px;
      }
    }
  }
}

.logo_header {
  font-size: 9px;
  @media (min-width: 768px) {
    font-size: 12px;
  }
}

.logo_footer {
  margin-bottom: 37px;
  justify-content: center;
}