.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: $font_family2;
  font-weight: 800;
  font-size: 13px;
  text-align: center;
  letter-spacing: 2px;
  &.logo_main {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 47px;
    @media (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 54px;
    }
    @media (min-width: 992px) {
      justify-content: flex-start;
      margin-bottom: 25px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 54px;
    }
  }
}
.logo__text1 {
  background-color: $logo_main_color;
  border-radius: 500px;
  padding: 7px 15px;
  margin-right: 12px;
  color: #fff;
}
.logo__text2 {
  color: #000;
}

.logo_main {
  .logo__text2 {
    color: #fff;
  }
  .logo__text1 {
    margin: 0 0 15px 0;
    @media (min-width: 768px) {
      margin: 0 12px 0 0;
    }
  }
}

.logo_header {
  font-size: 9px;
  @media (min-width: 768px) {
    font-size: 12px;
  }
}

.logo_footer {
  margin-bottom: 37px;
  justify-content: center;
}